@use 'mixin' as mixin;

@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
  font-style: normal;
  font-display: swap;
  font-family: 'recoleta';
  src: url('../assets/fonts/recoleta.woff') format('woff');
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-height: 100vmin;
}

.container {
  @apply max-w-6xl mx-auto px-3 sm:px-4;
}

.custom-height {
  height: calc(100vh - 116px);
  line-height: normal;
}

.recoleta {
  font-family: 'recoleta', sans-serif;
}

.gradient {
  mask-image: linear-gradient(
      to right,
      transparent,
      #000 100px,
      #000 calc(100% - 100px),
      transparent
  );
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #fe4500;
}
